
#Server Configration
PORT=5000
NODE_ENV="development"

#Database Setup
DATABASE_URL="postgresql://username:password@localhost:5432/devblog"

#Google Auth
GOOGLE_CLIENT_ID="Your-Client-Id"
GOOGLE_CLIENT_SECRET="Your-Client-Secret"
GOOGLE_REDIRECT_URI=http://localhost:5000/auth/google/callback
FRONTEND_URL=http://lcoalhost:5173

#JWT
JWT_SECRET="your-super-secret"

#Redis
UPSTASH_REDIS_REST_URL="redis://localhost:6529"
UPSTASH_REDIS_REST_TOKEN="your-redis-token"

#Qsash
QSTASH_URL="qstash://lcoalhost:5638"
QSTASH_TOKEN="your-qstash-token"
QSTASH_CURRENT_SIGNING_KEY="your-qstash-current-signing-key"
QSTASH_NEXT_SIGNING_KEY="your-qstash-next-signing-key"

#Cloudinary
CLOUDINARY_CLOUD_NAME=cloud-name
CLOUDINARY_API_KEY=coud-api-key
CLOUDINARY_API_SECRET=cloud-api-secret